<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Twitter Connected - There</title>
  <style>
    * {
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .wrapper h1 {
      font-size: 45px;
      color: #4F4F4F;
      margin: 0 0 20px;
      font-weight: 400;
      text-align: center;
    }

    .wrapper span {
      font-size: 24px;
      color: #828282;
      font-weight: 200;
    }

    .wrapper button {
      display: inline-block;
      font-size: 24px;
      font-weight: 200;
      cursor: pointer;

      border: none;
      background: none;
      color: #635959;
      padding: 0;
      margin: 0;
    }

    .wrapper button:hover {
      text-decoration: underline;
    }

    .wrapper button:focus {
      outline: none;
    }
  </style>
</head>

<body>
  <section class="wrapper">
    <h1>Connected to Twitter</h1>
    <span>You may now close this window!</span>
  </section>
</body>

</html>